@import "tailwindcss";

@font-face {
    font-family: 'MytestingFont';
    src: url('./assets/fonts/BitcountGridDouble_Cursive-Black.ttf') format('opentype');
}


@theme {
    --font-testing-font: "MytestingFont", sans-serif;
}