@import "tailwindcss";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bitcount_Grid';
    src: url('./assets/fonts/BitcountGridDouble_Cursive-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'SairaStencil';
    src: url('./assets/fonts/SairaStencil_Condensed-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'DancingScript';
    src: url('./assets/fonts/DancingScript-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('./assets/fonts/PlayfairDisplay-Medium.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto_Condensed-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'Sekuya';
    src: url('./assets/fonts/Sekuya-Regular.ttf') format('opentype');
}

@theme {
    --font-Bitcount: "Bitcount_Grid", sans-serif;
    --font-DancingScript: "DancingScript", sans-serif;
    --font-Playfair: "PlayfairDisplay", sans-serif;
    --font-Roboto: "Roboto", sans-serif;
    --font-SairaStencil: "SairaStencil", sans-serif;
    --font-Sekuya: "Sekuya", sans-serif;
}

@layer components {
  .darkMode {
    /* background: linear-gradient(135deg, #0b0f1a, #111827); */
    background-image: radial-gradient(circle at 50% 150%, transparent, #111827, #0b0f1a);
    /* background-image: radial-gradient(circle at 50% 140%, transparent, #fde68a, #fef9c3); */
  }

  .glass {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

}

/* From Uiverse.io by adamgiebl */ 
.contact-us-btn {
  background: #a370f0;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  border-radius: 40px;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 80px;
  padding-right: 3.3em;
  cursor: pointer;
}

.contact-us-btn .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.contact-us-btn:hover .icon {
  width: calc(100% - 0.6em);
  height: calc(100% - 0.6em);
  border-radius: 40px;
}

.contact-us-btn .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.contact-us-btn:hover .icon svg {
  transform: translateX(0.1em);
}

.contact-us-btn:active .icon {
  transform: scale(0.95);
}
